<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @employee.birth_year %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Hospitals:</strong>
  <% @employee.hospitals.each do |h| %>
    <%=link_to h.order_number, h %>
  <% end %>
</p>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
