<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @employee.birth_year %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
