<p id="notice"><%= notice %></p>

<p>
  <strong>Order number:</strong>
  <%= @hospital.order_number %>
</p>
<p> 
  Employees:
  <%@hospital.employees.each  do |e|%>
    <%= e.surname %>
    <%= e.position %>
    <%= link_to "Show", e %>
    <%= link_to 'Fire', fire_employee_path(e, hospital_id: @hospital.id), method: :post%>
  <% end %>
</p>
<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
You can hire any of above:
  <% @free_employees.each do |f| %>
    <%= f.surname  %>
    <%= f.birth_year  %>
    <%= f.position  %>
    <%= link_to 'Hire', hire_employee_path(f, hospital_id: @hospital.id), method: :post%>

  <% end %>
  